In [1]:
import numpy as np
import pandas as pd

#Creation of DataFrame with pandas series

cities = {"name":["KOLDA","ZIGUNCHOR","SEDHIOU","TAMBA"],
         "population":[17448,855888,741269,9966399],
          "town":["Sikilo","Tilene","Escale","Liberté"]
         }
allCities = pd.DataFrame(cities)
print(allCities)

        name  population     town
0      KOLDA       17448   Sikilo
1  ZIGUNCHOR      855888   Tilene
2    SEDHIOU      741269   Escale
3      TAMBA     9966399  Liberté