In [3]:
dictionnaire = {
    "coco":5050,
    "bananes":6300,
    "pommes":450,
    "ananas":79630,
    "acajou":1
}

dictionnaire.values()
dictionnaire.keys()

dict_keys(['coco', 'bananes', 'pommes', 'ananas', 'acajou'])

In [4]:
dictionnaire["poires"]=555
dictionnaire

{'coco': 5050,
 'bananes': 6300,
 'pommes': 450,
 'ananas': 79630,
 'acajou': 1,
 'poires': 555}

In [5]:
for i in dictionnaire:
    print(i)

coco
bananes
pommes
ananas
acajou
poires

In [6]:
for i in dictionnaire.values():
    print(i)

5050
6300
450
79630
1
555

In [7]:
for k,v in dictionnaire.items():
    print(k,v)

coco 5050
bananes 6300
pommes 450
ananas 79630
acajou 1
poires 555